.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 2px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 1px #efefef solid;
}

.row-striped {
    padding: 12px 0;
}

footer {
    position: sticky;
    bottom: 0;
    background: #343a40;
    width: 100%;
  
  #bigger:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 12px rgba(0,0,0,.5);
    transition: .6s ease-out;
    margin-left: auto;
    margin-right: auto;
}
